.out_shadow {
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
   box-shadow: 5px 5px 5px #ccc;
}

.in_shadow {
   -moz-box-shadow:inset -5px 0px 25px red3;
   -webkit-box-shadow:inset -5px 0px 25px red3;
    box-shadow:inset -5px 0px 25px red3;
}

.formbox {
 background-color: red;
 color: white;
}

body {
background-color: #999999;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
background: transparent url(/images/nav_bg.png) no-repeat bottom left;
background-position-y: 50%;
width: 80%;
background-color:#000000;
margin-top: 20px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: thin solid #000000;
}

#header {
background: transparent url(/images/top-bg.png) repeat-x top;
background-color:#FFFFFF;
/* padding: 55px;*/  /* 85px */
padding-right: 55px;
padding-top: 10px;
margin: 0px;
border: thin solid #000000;
}

#header-logo {
background: transparent url(/images/binaryfreedom_logo.png) no-repeat bottom left;
margin: 0px;
padding-bottom: 150px;
padding-left: 100px;
text-align: right;
color: #8B0000;
}


#nav {
background-color: #000000;
width: 25%;
padding: 10px;
margin-top: 1px;
float: left;
border: #000000;
color: white;
}

#main {
background: transparent url(/images/red-and-black.png);
background-color: red;
color: white;
margin-left: 30%;
margin-top: 1px;
padding: 10px;
border: #000000;
}

#footer {
background-color: #FFFFFF;
padding: 15px;
margin: 0px;
text-align: center;
border-top: thin solid #000000;
text-shadow : 1px 2px 5px red;
}

#title_msg {
margin: 0px;
text-align: right;
font-size:22px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-shadow : 1px 2px 5px red;
}


.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2{
/* background: transparent url(/images/cuadro_img.png) no-repeat bottom right */
background-color: black;
}

.cssbox{ 
   /* width:535px !important; *//* IE Win = width - padding */
   /* width: 520px; */
   /* padding-right:20px; */ /* use to position the box */
   margin:20px auto;
   /* border-width:15px */
   border: thin solid #ffffff;
   }
   
  .cssbox_head{
   background-position:top right;
   background-color: #8B0000;
   text-align: center;
  /*  margin-right:-15px; */ 
   padding-right:40px;
   border: thin solid red;
   text-decoration: none;
   text-shadow : 1px 2px 5px black;
   }

  .cssbox_head h2{
   background-position:top left;
   margin:0; /* reset main site styles*/ 
   border:0; /* ditto */

   padding:25px 0 15px 40px; 
   height:auto !important;
   height:1%;
   } /* IE Holly Hack */

  .cssbox_body{
   background: transparent url(/images/digitalbg2.png) no-repeat bottom right;	
   /* background-position:bottom left; */
   margin-right: 5px; /* interior-padding right */ 
   padding: 7px 160px 40px 20px; /* mirror .cssbox_head right/left */
   background-color: black;
   }

   .alingleft {
	float:left;
        margin-right: 1em;
   }


/* site navigation */


a:link {
text-decoration: none;
text-shadow : 1px 2px 5px black;
color: #FFFFFF;
}

a:visited {
text-decoration: none;
text-shadow : 1px 2px 5px black;
color: #FFFFFF;
}

a:hover {
text-decoration: underline;
color: #FFFFFF;
font-size: large;
text-decoration: none;
text-shadow : 1px 2px 5px black;
}

a:active {
text-decoration: none;
}



#nav ul {
 margin: 0;
 padding:0;
 list-style-type: none;
}

#nav a {
 text-align: center;
 font-size:25px;
 display: block;
 width: 200xp;
 height: 40px;
 line-height: 40xp;
 color: #000000;
 text-decoration: none;
 text-shadow : 1px 2px 5px black;
}

#nav ul a {
 display: block;
 width: 200xp;
 height: 40xp;
 line-height: 40xp;
 color: #ffffff;
 text-decoration: none;
 background: #EE0000 url(/images/top-bg.png) no-repeat top;
 text-ident: 50px;
 border: thin solid #000000;
text-shadow : 1px 2px 5px black;
}


#nav li.first a {
 height: 40xp;
 line-height: 40xp;
}

#nav a:hover, .selected a {
 background-position: right bottom;
 background-color: #8B0000;
 color: #ffffff;
 text-shadow : 1px 2px 5px black;
}

#nav li {
 display: inline;
}

.menu_post {
 display: inline;
}

.button_to {
 display: inline-block;
}
