.out_shadow
 .cssbox
  .cssbox_head
   %b ABOUT BINARYFREEDOM.INFO
  .cssbox_body
   %p.post_body
    A radical voice in the digital age, a decentralized loose group of activists fighting for our digital freedoms in software, 
    hardware and on the Internet. We watch for corporate/capitalist/imperialist abuse in cyberspace
    as well as promote knowledge and educate people about the dangers our rights currently face suggesting and building
    de-centralized and privacy tools to ensure our digital land is not-governable by any nation or corporation creating
    the biggest communal society ever existed in human history. (A)
    %p
    Follow us on 
    = link_to 'Identi.ca', 'http://identi.ca/binaryfreedom' 
    or    
    = link_to 'Twitter', 'http://twitter.com/B1naryFreed0m'
