.out_shadow
 .cssbox
  .cssbox_head
   %b How to use and register @ THE BINARYFREEDOM XMPP/JABBER Server
  .cssbox_body
   .post_body
    %p 
     Click
     %a{:href => "http://binaryfreedom.info:9090/plugins/registration/sign-up.jsp"} 
      %b HERE to register
     an account in our server
    %p 
     if you are new to Instant messaging you may want to 
     %a{:href => "http://pidgin.im/"} 
      %b download Pidgin HERE 
     or use the client your like most
    %p
     %b Step 1
    %p Open Pidgin: Double click on the pidgin icon on your desktop or open Start/Programs/Startup and double click on Pidgin.
    Open Accounts/Manage Accounts/add
    %p 
     %b Step 2
    Then set up an account with the following settings:
    %p 
     %b Protocol: 
     XMPP
    %p 
     %b Username: 
     your BINARYFREEDOM xmpp username (JID, jabber ID)
    %p 
     %b Domain: 
     binaryfreedom.info
    %p
     %b Password: 
     your BINARYFREEDOM password
    %p 
     %b Local Alias: 
     Optional
    %p 
     %b You may want to tick remember password
    %p 
     %b Step 3
    %p 
     %b Select SSL
    %p 
     login, after that look for group chat and have pidgin list all channels on binaryfreedom or add as friend 
     %b discussion@conference.binaryfreedom.info
     join the group chat!!!
   %p
   Follow us on 
   = link_to 'Identi.ca', 'http://identi.ca/binaryfreedom' 
   or    
   = link_to 'Twitter', 'http://twitter.com/B1naryFreed0m'
