%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
%fb:like-box{:colorscheme => "dark", :header => "false", :href => "http://www.facebook.com/pages/Binaryfreedominfo/184458191565772", :show_faces => "true", :stream => "true", :width => "200"}
